.themeSwitchWrapper {
  @apply flex items-center gap-2 cursor-pointer;
}

.themeSwitchWrapper > div {
  @apply border rounded-full w-12 h-7;
  padding-left: 1px;
  padding-right: 1px;

  input {
    @apply hidden;
  }

  span {
    @apply
      relative w-6 h-6
      rounded-full bg-gray-700 block;
    top: 1px;
  }

  input:checked + span {
    @apply bg-gray-300;
    left: 19px;
  }
}
