@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply dark:bg-gray-800;
  padding: 0;
  margin: 0;
  font-family: Manrope, sans-serif;
  transition: all 0.3s ease-in-out 0.05s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
